.blog-masthead
  .container
    %nav.blog-nav
      = link_to "Home", root_path, class: "blog-nav-item active"
      = link_to "Topics", topics_index_path, class: "blog-nav-item"
      = link_to "Videos", "#", class: "blog-nav-item"
      = link_to "Gallery", "#", class: "blog-nav-item"
      = link_to "About", "#", class: "blog-nav-item"
      = link_to "Contact Us", "#", class: "blog-nav-item"